<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700,700i&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="../node_modules/@fortawesome/fontawesome-free/css/all.css")
        link(rel="stylesheet", href="style.css")
        script(src="app.js")
        title Document
    body
        .header__bg
            .wrapper
                header.header
                    h1.logo Bhramaon
                    p.ander_logo Safe Travel Anywhere
                    form.search
                        input.search__line(type="search" placeholder="Search Your Travel Destination")
                        button.search__button(type="submit")
                            p.search__text Search
                            img.search__icon(src="../assets/svg/lupa.svg", alt="search")
                    .scroll
                        a.scroll__href(href="#info")
                            p.scroll__text Scroll Down
                            img.scroll__icon(src="../assets/svg/doun.svg", alt="scroll")
        .menu__bg
            .wrapper
                menu#menu.menu
                    .menu__logo Bhramaon
                    ul.menu__elements
                        li.menu__element
                            a.menu__link(href="#info") who we are
                        li.menu__element
                            a.menu__link(href="#steps") what we do
                        li.menu__element
                            a.menu__link(href="#countyInfo") travel with us
                        li.menu__element
                            a.menu__link(href="#footer") contact us
                    .toggle(onclick="toggle()")
        .info__bg
            .wrapper
                section#info.info
                    .info__block
                        h2.info__title Why Choose Us
                        p.info__text 
                            | Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                            br
                            br
                            | Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                        button.info__button Explore places
                    img(src="../assets/images/in_info_1.png", alt="lake")
                    img(src="../assets/images/in_info_2.png", alt="mountains")
        .steps__bg
            .wrapper
                section#steps.steps
                    .dots
                        .steps__step
                            img.steps__icon(src="../assets/svg/lupa_big.svg", alt="search")
                            p.steps__text Search Places
                        .steps__step
                            img.steps__icon(src="../assets/svg/chek.svg", alt="select")
                            p.steps__text Select Places
                        .steps__step
                            img.steps__icon(src="../assets/svg/hand.svg", alt="book")
                            p.steps__text Book & Enjoy
        .countyInfo__bg_1
            .wrapper    
                section#countyInfo.countyInfo.countyInfo_first
                    .countryInfo__block
                        p.countryInfo__name Spain
                        h2.countryInfo__title Grand spain Madrid
                        p.countryInfo__text 
                        | But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                        button.countryInfo__button Book now
        .countyInfo__bg_2
            .wrapper
                section.countyInfo.countyInfo_second
                    .countryInfo__block
                        p.countryInfo__name Spain
                        h2.countryInfo__title Grand spain Madrid
                        p.countryInfo__text 
                        | But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                        button.countryInfo__button Book now
        .review__bg
            .wrapper
                section.review
                    img(src="../assets/images/in_review.png", alt="photo")
                    .review__block
                        h2.review__name Sam Sumon
                        p.review__text 
                        | <i class="fas fa-quote-left"></i> But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system
        .footer__bg
            .wrapper
                footer#footer.footer
                    h1.logo.logo_small Bhramaon
                    p.ander_logo.ander_logo_small Safe Travel Anywhere
                    .footer__socials
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-pinterest"></i>
    script(type="text/javascript" src="app.js")