* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-family: 'Aleo', serif;
}

.toggle {
    display: none;
}

.header {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    &__bg {
        background: url(../assets/images/header.png) no-repeat center;
        background-size: cover;
    }
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}


.menu {
    position: sticky;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;

    &__bg {
        background: #111111;
    }

    &__logo {
        position: relative;
        color: #ffffff;
        font-size: 30px;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__elements {
        position: relative;
        display: flex;
    }

    &__element {
        position: relative;
        list-style: none;
    }
            
    &__link {
        position: relative;

        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        padding: 0 10px;
        cursor: pointer;
    }
}

.info {
    height: 685px;

    &__bg {
        background: url(../assets/images/info.png) no-repeat center;
        background-size: cover;
    }
}

.steps {
    height: 340px;

    &__bg {
        background-color: #333333;
    }
}

.countyInfo {
    height: 700px;

    &__bg_1 {
        background: url(../assets/images/country_1.png) no-repeat center;
        background-size: cover;
    }

    &__bg_2 {
        background: url(../assets/images/country_2.png) no-repeat center;
        background-size: cover;
    }
}

.review {
    height: 730px;

    &__bg {
        background: url(../assets/images/review.png) no-repeat center;
        background-size: cover;
    }
}

.footer {
    height: 268px;

    &__bg {
        background-color: #232323;
    }
}

@media (max-width: 992px) {
    .menu {
        &__elements {
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            height:500px;
            padding: 50px 0;
            text-align: center;
            overflow: auto;
            transition: .5s;
            background: #111111;
            flex-direction: column;
        }
        &__link {
            margin: 5px 0;
            font-size: 24px;
        }
    }

    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            top: 4px;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            box-shadow: 0 10px 0 #ffffff;
            transition: .5px;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 4px;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            transition: .5px;
        }
    }

    .menu {
        .toggle {
            .active {
                &:before {
                    top: 14px;
                    transform: rotate(45deg);
                    box-shadow: 0 0 0 #ffffff;
                } 
            }
        }
    }
}